@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #32A685, #3DF2BF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #196954af;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F29530;
    text-align: center;
    text-shadow: 1px 1px 2px #244FF2;
}

h2{
   color: #244FF2
}

p{
    text-align: justify;
}