@charset "UTF-8";
header{
    min-height: 50px;
    text-align: center;
    color: white;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: repeat;
    border-radius: 10px; 
    margin: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(198, 197, 238, 0.788);
    height: 100vh;
    color: black;
    background-size: cover;
    background-color: rgba(26, 66, 247, 0.493);;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; /* não funciona ainda no Shorthand - Background */ 
    background-attachment: fixed;  
}

mark{
    background-color: #FDD579;
}

main{
    background-color: #3198E2;
    padding: 20px;
    border-radius: 10px;
    margin: Auto;
    min-width: 320px;
    max-width: 1000px;
    box-shadow: 5px 5px 15px #0303037c;
}

h1{
    background-color: #5672f1d8;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #0303037c;
}

h2{
    text-align: center;
    color: white;
}

p.errado{
    color: #BF2604;
}

p.certo{
    color: blue;
}
div{
    margin: 10px 30px 10px 20px;
}
div > p {
    display: none; /* Não mostra nada */ 
}
div:hover > p {
    display: block; /* Mostra o texto */
    color: rgb(5, 5, 5);
    font-weight: bold;
    background-color: #3198e280;
    min-width: 200px;
    max-width: 1000px;
    border-radius: 5px;
    margin: 15px;
    text-align: justify;
    padding: 5px;
}
div:hover{
    color: #BF2604;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.212);
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 10px;
}
img{
    width: 90%;
    border-radius: 5px;
    margin: 15px;

}

footer{
    background-color: #83c1eea2;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #0808087c;
}


