@charset "UTF-8";

caption{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(219, 245, 189, 0.438);
}

p{
    font-weight: bold;
}

table{
    border-collapse: separate;
    margin: 10px; 
    width: 500PX; 
    height: auto;
    border-radius: 10PX;
}

th, td{
border: 1px solid gray;
padding: 10px;
text-align: center;
font-weight: bold;
border-radius: 10PX;
}

td.down:hover{
    background-color: rgba(0, 128, 0, 0.479);
}


tr:nth-child(even){
    background-color: rgb(228, 228, 288);
}

div#container{
    overflow-x: auto;
}